* {
  padding:0;
  margin:0;
}
html{
    color:#837F7B;
    background:#F2F2F2;
    font-family: 'Karla', sans-serif;
}
header{
    text-align: center;
    color:#f2f2f2;
    background:#3D4B4E;
    height: 75px;
    line-height: 70px;
    width:100%;
    margin-bottom: 15px; 
}
main h2{ 
    margin:25px 0;
  
    text-align: center;
}
main p{
    width:80%;
    display: block;
    margin-bottom: 35px; 
    margin-top:25px;
}

.signup{
    padding-bottom:25px;
    border-bottom: solid 5px;
}
.signup p{
    margin:auto;
    text-align: center;
}
.padding{
    border-top: solid 3px;
    width:98%;
    margin:5px auto;
}
main{
    margin:auto;
    margin-top: 3px;
    width:95%;
}
.contact_form input , select{
    width:100%;
    height:35px;
    margin: 15px 0;
    background: #fff;
    border:none;
    border-radius: 4px;
}
input , select, textarea{
    font-size: .9rem;
    font-style: italic;
    color:#444;
}
input:hover{
        animation: ani 500ms ease-in 1;  
}
input:focus , select:focus , textarea{
        outline:none;
        border-bottom: solid 3px;
        rgba(117,190,187,.5);
        animation: fadein 300ms ease-in 1; 
}
input:blurred , select:blurred{
        animation: fadeout 300ms ease-in 1; 
}
.error{
    border:solid 2px #FF5A43;
}
.newsletter_form p{
    margin-bottom:25px;
    margin-top:15px;
    width:100%;
   
}
textarea{
    background:#fff;
    border:none;
    width:100%;
    border-radius: 4px;
    height: 120px;
}
button{
    background:#75BEBB;
    display: block;
    margin:25px auto 0;
    width:150px;
    height: 50px;
    border-radius: 5px;
    border:none;
    font-size: 1.333rem;
    font-weight: bold;
    color:#f2f2f2;
}
button:hover{
    background:#559E9B;
}
    
footer{
    text-align: center;
    font-style: italic;
    margin: 15px;
    
}
@media (min-width:760px){
    main{
        width:50%;
}
    button{
        width:25%;
    }

}

@keyframes fadein{
    from{  
        border-bottom: solid 0px rgba(117,190,187,.1);
        border-bottom-width: 0px;
    }
    to{
      
        border-bottom:solid 3px rgba(117,190,187,1),  ;
        border-bottom-width: 3px;
    }
}
@keyframes fadeout{
    from{  
        border-bottom: solid 3px rgba(117,190,187,1);
        border-bottom-width: 3px;
    }
    to{
      
        border-bottom:solid 0px rgba(117,190,187,.1),  ;
        border-bottom-width: 0px;
    }
}

