* {
  padding:0;
  margin:0;
}
html{
    color:#837F7B;
    background:#F2F2F2;
    font-family: 'Karla', sans-serif;
}
header{
    text-align: center;
    color:#f2f2f2;
    background:#3D4B4E;
    height: 75px;
    line-height: 70px;
    width:100%;
    margin-bottom: 15px; 
}
main h2{ 
    margin:25px 0;
    text-align: center;
}
p{
    width:80%;
    display: block;
    margin:0 auto 5px;
    text-align: center;
}

.signup{
    padding-bottom:25px;
    border-bottom: solid 5px;
}

.padding{
    border-top: solid 3px;
    width:99%;
    margin:5px auto;
}
main{
    margin:auto;
    margin-top: 3px;
    width:95%;
}
.contact input ,select{
    width:100%;
    border-radius: 4px;
    font-size: .9rem;
    font-style: italic;
    height:35px;
    color:#444;
    background:#fff;
    margin:7px auto 15px;
    border:none
}
.bold_format{
font-weight: bold;
    
}
input:focus , select:focus , textarea{
        outline:none;
        border-bottom: solid 3px rgba(117,190,187,.5);
        animation: fadein 300ms ease-in 1; 
}

textarea{
    background:#fff;
    border:none;
    width:100%;
    border-radius: 4px;
    height: 120px;
}
button{
    background:#75BEBB;
    display: block;
    margin:25px auto 0;
    width:150px;
    height: 50px;
    border-radius: 5px;
    border:none;
    font-size: 1.333rem;
    font-weight: bold;
}
button:hover{
    background:#559E9B;
    cursor: pointer;
}
    
fieldset{
    border:none;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#newsletter{
    padding-top: 15px;
    border-top: double 5px;
}
legend{
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px auto;
   
}

@media (min-width:760px){
    main{
        width:50%;
}
    button{
        width:25%;
    }

}

@keyframes fadein{
    from{  
        border-bottom: solid 0px rgba(117,190,187,.1);
        border-bottom-width: 0px;
    }
    to{
      
        border-bottom:solid 3px rgba(117,190,187,1) ;
    }
}
@keyframes fadeout{
    from{  
        border-bottom: solid 3px rgba(117,190,187,1);
        border-bottom-width: 3px;
    }
    to{
      
        border-bottom:solid 0px rgba(117,190,187,.1);
        border-bottom-width: 0px;
    }
}


